*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.venv

doc/source/api/*
doc/build/*
AUTHORS
TAGS
ChangeLog

# Project specific
etc/billingstack/*.ini
etc/billingstack/*.conf
billingstack/versioninfo
